<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ignore existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite clean URLs
    RewriteRule ^([^/]+)/?$ index.php?p=$1 [L,QSA]
</IfModule>
