@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-Thin.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-Thin.ttf") format("tff");
}
@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-Light.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-Light.ttf") format("tff");
}
@font-face {
  font-family: "barlow_cond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-Regular.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-Regular.ttf") format("tff");
}
@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-Medium.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-Medium.tff") format("ttf");
}
@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-SemiBold.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-SemiBold.ttf") format("tff");
}
@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/barlow_condensed/BarlowCondensed-Bold.woff2") format("woff2"), url("../fonts/barlow_condensed/BarlowCondensed-Bold.tff") format("ttf");
}
@font-face {
  font-family: barlow_cond;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/static/style/fonts/barlow_condensed/BarlowCondensed-Black.woff2") format("woff2"), url("/static/style/fonts/barlow_condensed/BarlowCondensed-Black.tff") format("ttf");
}
@font-face {
  font-family: "berlin";
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/berlin-demi.woff") format("woff"), url("../fonts/berlin-demi.ttf") format("ttf");
}
.top-image-view {
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.top-image-view .qoute {
  position: absolute;
  background: rgba(0, 0, 0, 0.561);
  backdrop-filter: blur(12px);
  width: 130px;
  padding: 15px;
  border-radius: 8px;
  right: 220px;
  top: 180px;
  font-size: 14px;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: 500ms ease-in;
}
.top-image-view .qoute:hover, .top-image-view .qoute.active {
  opacity: 1;
}
.top-image-view .qoute.q1 {
  right: 520px;
  top: 26px;
}
.top-image-view .qoute.q2 {
  top: 360px;
  right: 10px;
}
.top-image-view .qoute.q3 {
  top: 575px;
  right: 556px;
}
.top-image-view .qoute.q4 {
  top: 600px;
  right: 220px;
}
.top-image-view .qoute.q5 {
  top: 867px;
  right: 194px;
}
.top-image-view .qoute.q6 {
  top: 710px;
  right: 85%;
}
.top-image-view .qoute.q7 {
  top: 870px;
  right: 550px;
}
.top-image-view .text-view {
  position: absolute;
  top: 178px;
  width: 624px;
  background: rgba(0, 0, 0, 0.561);
  backdrop-filter: blur(18px);
  padding: 25px;
  margin: 0 24px 0 140px;
  z-index: 2;
}
.top-image-view .text-view h1 {
  font-size: 65px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-image-view .text-view p {
  font-size: 18px;
  margin-top: 20px;
}
.top-image-view .text-view a {
  margin-top: 30px;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.gallery .images {
  display: flex;
}
.gallery .images img {
  max-width: 300px;
  max-height: 256px;
  object-fit: cover;
  margin: 2px;
  transition: 300ms ease-in-out;
  opacity: 0.1;
  cursor: pointer;
  filter: saturate(1.5) brightness(1.2);
}
.gallery .images img:hover {
  opacity: 1;
}
.gallery .images img.active {
  opacity: 1;
}

@media (max-width: 1180px) {
  .qoute {
    display: none;
  }
  .gallery .images img {
    max-width: 243px;
  }
}
@media (max-width: 992px) {
  .top-image-view .qoute .q5 {
    display: none;
  }
  .top-image-view .text-view {
    margin: 0 24px 0 12px;
    width: 500px;
  }
  .top-image-view .text-view h1 {
    font-size: 55px;
  }
  .gallery .images img {
    max-width: 185px;
  }
}
@media (max-width: 768px) {
  .top-image-view .text-view {
    top: 120px;
  }
  .gallery .images img {
    max-width: 150px;
  }
}
@media (max-width: 620px) {
  .top-image-view .text-view {
    width: 390px;
    top: 52px;
    padding: 16px;
  }
  .top-image-view .text-view h1 {
    font-size: 44px;
  }
  .top-image-view .text-view p {
    font-size: 18px;
    margin-top: 14px;
  }
  .top-image-view .text-view a.btn {
    margin-top: 19px;
    padding: 11px 34px;
    font-size: 14px;
    font-weight: 400;
  }
  .gallery .images img {
    max-width: 115px;
  }
}
@media (max-width: 480px) {
  .gallery .images img {
    max-width: 84px;
  }
  .top-image-view .text-view {
    width: 260px;
    top: 41px;
  }
  .top-image-view .text-view h1 {
    font-size: 27px;
  }
  .top-image-view .text-view p {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .gallery .images img {
    max-width: 75px;
  }
  .top-image-view .text-view {
    width: 264px;
    top: 41px;
  }
  .top-image-view .text-view h1 {
    font-size: 22px;
  }
  .top-image-view .text-view p {
    font-size: 12px;
  }
}
.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px !important;
}
.text-wrapper .text-wrap {
  max-width: 27%;
  background: #14121e;
  padding: 22px 23px;
  margin: 5px;
  border-radius: 8px;
}
.text-wrapper .text-wrap h1 {
  font-size: 44px;
}

.diversity-page .ytllx3 {
  margin: 220px auto 40px auto;
}
.diversity-page .full {
  max-width: 500px;
  margin-left: 100px;
}
.diversity-page .full h1 {
  font-size: 58px;
}
.diversity-page .bio {
  margin: 30px auto 10px auto;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.diversity-page .bio section {
  background: #14121e;
  max-width: 30%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.114);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.diversity-page .bio section .text {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.diversity-page .bio section .text h1 {
  font-size: 32px;
}
.diversity-page .bio section img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}
.diversity-page .xk321 {
  position: relative;
  padding: 20px 5px;
}
.diversity-page .xk321 .text-wrap {
  background: rgba(0, 0, 0, 0.561);
  backdrop-filter: blur(38px);
}
.diversity-page .xk321 img {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.diversity-page .peoples {
  margin: 20px auto;
}
.diversity-page .peoples section {
  background: #14121e;
  padding: 10px 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 92%;
}
.diversity-page .peoples section .image {
  margin-left: 10px;
}
.diversity-page .peoples section .image img {
  border-radius: 8px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.diversity-page .peoples section .text {
  padding: 20px;
  padding-right: 90px;
}
.diversity-page .peoples section .text h3 {
  font-size: 28px;
  margin-top: 35px;
}
.diversity-page .peoples section .text p {
  font-size: 18px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto !important;
  justify-content: center;
  background: #14121e;
  padding: 20px;
}
.places section {
  width: 380px;
  position: relative;
  overflow: hidden;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.places section img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 300ms;
  filter: saturate(1.3);
}
.places section h2 {
  text-align: center;
  background: rgba(0, 0, 0, 0.4117647059);
  padding: 5px 8px;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}
.places section div.text {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  transition: 300ms;
}
.places section div.text p {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-weight: 300;
}
.places section:hover img {
  filter: saturate(0.3);
}

.ckk3 {
  margin-top: 80px;
}

.bio .title-2x {
  font-size: 49px;
  text-transform: uppercase;
  margin-left: 29px;
}

.yyi3 {
  display: flex;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 550px;
}
.yyi3 .socotra-map {
  width: 30%;
  height: 100%;
  border: none;
}
.yyi3 div {
  width: 70%;
  height: 100%;
}
.yyi3 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.places-view .places-cont section {
  background: #14121e;
  padding: 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.places-view .places-cont section h2 {
  font-size: 72px;
  line-height: 1.2;
  text-transform: uppercase;
}
.places-view .places-cont section p {
  width: 99%;
  font-size: 22px;
  line-height: 1.5;
  margin-top: 40px;
}
.places-view .places-cont section div {
  width: 42%;
}
.places-view .places-cont section span {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #6d6d6d;
}
.places-view .places-cont section .images {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: flex-end;
  width: 50%;
}
.places-view .places-cont section .images img {
  width: 219px;
  height: 215px;
  object-fit: cover;
  margin: 5px;
  border-radius: 19px;
  border: 1px solid transparent;
  transition: 300ms;
}
.places-view .places-cont section .images img:hover {
  border-color: #ffffff;
}
.places-view .places-cont.tours-cont section {
  padding: 35px 0;
  justify-content: space-between;
}
.places-view .places-cont.tours-cont section div {
  width: 49%;
  padding: 0 30px;
}
.places-view .places-cont.tours-cont section .images {
  padding: 0;
  width: 46%;
}
.places-view .places-cont.tours-cont section .images img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.places-view .places-cont.tours-cont section span.sup32 {
  font-size: 40px;
  color: #ff8c00;
}
.places-view .places-cont.tours-cont section p.xk3 {
  margin: 0;
}

.orange-bg {
  background: #ff8c00;
  border-color: #ffe37b;
}

@media (max-width: 992px) {
  .yyi3 {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    height: max-content;
  }
  .yyi3 .socotra-map, .yyi3 div {
    width: 90%;
  }
  .yyi3 .socotra-map {
    height: 400px;
  }
  .yyi3 div {
    height: 500px;
  }
  .places-view .places-cont section, .places-view .places-cont.tours-cont section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .places-view .places-cont section div, .places-view .places-cont.tours-cont section div {
    width: 98%;
  }
  .places-view .places-cont section .images, .places-view .places-cont.tours-cont section .images {
    width: 98%;
    justify-content: center;
  }
  .places-view .places-cont.tours-cont section div {
    padding: 20px !important;
    width: 90% !important;
  }
  .text-wrapper .text-wrap {
    max-width: 40%;
  }
  .text-wrapper .text-wrap h1 {
    font-size: 30px;
  }
  .diversity-page {
    padding: 10px 12px;
  }
  .diversity-page .bio section {
    max-width: 45%;
    padding: 4px;
  }
  .diversity-page .peoples section {
    padding: 10px 18px;
  }
  .diversity-page .peoples section .text {
    padding: 0;
    padding-right: 0;
  }
  .diversity-page .peoples section .text h3 {
    font-size: 22px;
    margin-top: 14px;
  }
  .diversity-page .peoples section .text p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .diversity-page {
    padding: 10px 2px;
  }
  .diversity-page .ytllx3 {
    margin: 144px auto 40px auto;
  }
  .diversity-page .full {
    margin-left: 20px;
    max-width: 87%;
  }
  .diversity-page .bio .title-2x {
    font-size: 36px;
    margin-left: 9px;
  }
  .diversity-page .bio section {
    padding: 3px;
    max-width: 47%;
    margin: 2px;
  }
  .diversity-page .bio section .text h1 {
    font-size: 27px;
  }
  .diversity-page .peoples section {
    padding: 10px 11px;
    width: 97%;
    margin: 0;
  }
}
@media (max-width: 620px) {
  .places-view .places-cont section span {
    font-size: 14px;
  }
  .places-view .places-cont section h2 {
    font-size: 45px;
  }
  .places-view .places-cont section p {
    font-size: 18px;
    margin-top: 30px;
  }
  .places-view .places-cont section .images img {
    width: 100%;
    height: auto;
  }
  .places-view .places-cont.tours-cont section span.sup32 {
    font-size: 30px;
  }
  .places-view .places-cont.tours-cont section span.sup32 p {
    font-size: 16px;
  }
  .places-view .places-cont.tours-cont section a.btn.orange-bg {
    padding: 14px 19px;
  }
  .diversity-page {
    padding: 10px 0px;
  }
  .diversity-page .peoples section .image img {
    width: 200px;
    height: 257px;
  }
  .diversity-page .bio section {
    max-width: 72%;
  }
  .diversity-page .ytllx3 {
    margin: 144px auto 40px auto;
  }
  .diversity-page .full {
    margin-left: 8px;
    max-width: 99%;
  }
  .diversity-page .full h1 {
    font-size: 44px;
  }
  .diversity-page .xk321 {
    padding: 2px 0px;
  }
  .diversity-page .text-wrapper .diversity-page .text-wrap {
    padding: 4px 13px !important;
    max-width: 87% !important;
  }
  .text-wrapper .text-wrap {
    margin: 2px;
    padding: 17px 14px;
  }
  .text-wrapper .text-wrap h1 {
    font-size: 26px;
  }
  .text-wrapper .text-wrap p {
    font-size: 14px;
  }
  .map {
    padding: 0px;
  }
  .places {
    padding: 20px;
  }
  .places section {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .text-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .text-wrapper .text-wrap {
    padding: 24px 20px;
    max-width: 80%;
  }
  .text-wrapper .text-wrap h1 {
    font-size: 30px;
  }
  .text-wrapper .text-wrap p {
    font-size: 16px;
  }
  .places {
    padding: 0;
  }
  .places section {
    width: 100%;
  }
  .places section h2 {
    font-size: 20px;
  }
  .places section p {
    font-size: 14px;
  }
  .diversity-page .peoples section {
    flex-direction: column;
    justify-content: center;
    max-width: 89%;
    padding: 10px 11px;
    margin: auto;
  }
  .diversity-page .peoples section .image img {
    width: 100% !important;
    height: 220px !important;
  }
}
@media (max-width: 360px) {
  .diversity-page .ytllx3 {
    margin: 119px auto 40px auto;
  }
  .diversity-page .bio .title-2x {
    font-size: 29px;
  }
  .diversity-page .bio section {
    max-width: 94%;
  }
  .diversity-page .full {
    max-width: 93%;
  }
  .diversity-page .full h1 {
    font-size: 33px;
  }
  .diversity-page .peoples section {
    flex-direction: column;
    justify-content: center;
    max-width: 89%;
    padding: 10px 11px;
    margin: auto;
  }
  .diversity-page .peoples section .image img {
    width: 100%;
    height: 220px;
  }
  .text-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .text-wrapper .text-wrap {
    padding: 11px 14px;
    max-width: 80%;
  }
  .text-wrapper .text-wrap h1 {
    font-size: 24px;
  }
  .text-wrapper .text-wrap p {
    font-size: 14px;
  }
  .diversity-page .text-wrapper {
    margin-top: 10px !important;
  }
  .diversity-page .text-wrapper .text-wrap {
    padding: 9px;
    max-width: 90%;
  }
}
.df {
  display: flex;
}

.df-c {
  align-items: center;
  justify-content: center;
}

.df-ac {
  align-items: center;
}

.df-jc {
  justify-content: center;
}

.df-dr {
  flex-direction: row;
}

.df-dc {
  flex-direction: column;
}

.btn {
  max-width: max-content;
  padding: 14px 43px;
  border-radius: 27px;
  text-decoration: none;
  font-weight: 500;
  transition: 300ms;
  border: 1px solid white;
}

.white-bg {
  background: white;
}

.black-color {
  color: black;
}

.btn.white-bg.black-color:hover {
  color: white;
  background-color: black;
}

.delete-btn {
  color: orangered;
}

.login-page {
  margin-top: 150px;
  margin-bottom: 50px;
}

.form {
  padding: 13px 57px;
  margin-left: 0px;
}
.form h2 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
}
.form p {
  font-size: 14px;
  font-weight: 400;
}
.form form {
  margin-top: 20px;
}
.form .flex-yxz {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.form .flex-yxz .a03x {
  display: flex;
  flex-direction: column;
  width: 46%;
  margin-top: 15px;
  margin-right: 20px;
}
.form .flex-yxz .a03x label {
  text-transform: uppercase;
}
.form .flex-yxz .a03x label small {
  text-transform: none !important;
}
.form .flex-yxz .a03x.full-w {
  width: 100%;
}
.form .flex-yxz .a03x input, .form .flex-yxz .a03x select {
  height: 32px;
  border: none;
  border-bottom: 1px solid rgba(95, 95, 95, 0.3215686275);
  width: 92%;
  background: none;
  color: inherit;
  font-size: 16px;
  letter-spacing: 1px;
}
.form .flex-yxz .a03x input:active, .form .flex-yxz .a03x input:hover, .form .flex-yxz .a03x select:active, .form .flex-yxz .a03x select:hover {
  border-bottom-color: rgb(0, 255, 106);
}
.form .flex-yxz .a03x select {
  cursor: pointer;
  text-transform: uppercase;
}
.form .flex-yxz .a03x select option {
  background: #14121e;
  font-size: 14px;
  text-transform: uppercase;
}
.form .flex-yxz .a03x input[type=checkbox] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.form .flex-yxz .a03x input[type=radio] {
  width: 12px;
  height: 12px;
  margin-right: 13px;
}
.form .flex-yxz .a03x textarea {
  width: 96%;
  border: none;
  border-bottom: 2px solid #868686;
  padding: 9px 12px;
  font-size: 16px;
  border-radius: 12px 12px 0 0;
  min-height: 80px;
  background: rgba(247, 0, 167, 0.1019607843);
  color: var(--primary-color);
  font-family: inherit;
  margin-top: 4px;
}
.form .flex-yxz .a03x.a03x-1 {
  flex-direction: row;
  align-items: center;
  margin: 21px 0 4px 0;
}
.form .flex-yxz .a03x.a03x-1 input[type=checkbox] {
  margin-right: 16px;
}
.form input[type=submit],
.form button.btn {
  width: 278px;
  height: 50px;
  margin: 22px auto 11px 0;
  border-radius: 37px;
  border: 2px solid #0c5493;
  background: #0062ff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.form input[type=submit]:hover,
.form button.btn:hover {
  background: #002dff;
}
.form input[type=submit].btn-small,
.form button.btn.btn-small {
  width: 117px;
  height: 42px;
  margin-left: 15px;
  background: #ff0089;
  border-color: #ff3b00;
  letter-spacing: 0;
}
.form input[type=submit].btn-small:hover,
.form button.btn.btn-small:hover {
  background: #0062ff;
  border-color: #0c5493;
}

.danger-border {
  border-color: rgb(var(--color-danger)) !important;
}

.img-plc input {
  display: none;
}

.image-placeholder {
  background: #14121e;
  width: 180px;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(56, 56, 56);
  cursor: pointer;
}
.image-placeholder svg {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}
.image-placeholder span {
  display: block;
  font-size: 12px;
}
.image-placeholder img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#alert-text {
  display: none;
}

.visa-view {
  margin-top: -60px !important;
  margin-bottom: 100px !important;
}
.visa-view .form-modal {
  max-width: 900px;
  margin: 0 13px 0 0;
  background: #000000;
  backdrop-filter: blur(38px);
  border-radius: 9px;
  margin: auto;
}
.visa-view .form-modal p {
  font-size: 16px;
}
.visa-view .visa-wrap {
  display: flex;
  position: relative;
  z-index: 1;
}
.visa-view .visa-wrap .left-view {
  min-width: 300px;
  background: black;
  border-radius: 9px;
  margin: 0 8px;
  padding: 10px;
}
.visa-view .visa-wrap .left-view h3 {
  margin: 20px 0;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3411764706);
}
.visa-view .visa-wrap .left-view .sck {
  margin: 10px;
  display: block;
}
.visa-view .visa-wrap .left-view section {
  background: #1f1f25;
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0;
  cursor: pointer;
}
.visa-view .visa-wrap .left-view section a {
  display: block;
  color: #00bcd4;
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px 0;
  text-decoration: none;
}
.visa-view .visa-wrap .left-view section:hover {
  background: #3d3548;
}
.visa-view .visa-wrap .left-view section span.form-id {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.visa-view .visa-wrap .left-view section span.createdAt {
  font-size: 14px;
}
.visa-view .visa-wrap .left-view section span.createdAt span {
  text-transform: uppercase;
}

.visa-sec .top-view-wrapper {
  height: 450px !important;
}
.visa-sec .top-view-wrapper .top-view-text h1 {
  font-size: 64px !important;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8588235294);
}

.x32 {
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.x32:hover {
  color: dodgerblue;
}

@media (max-width: 992px) {
  .visa-view .visa-wrap {
    flex-direction: column;
    align-items: center;
  }
  .visa-view .visa-wrap .left-view {
    min-width: 97%;
    margin: 5px;
    padding: 0;
  }
  .visa-view .visa-wrap .left-view .inner-left {
    padding: 10px;
  }
  .visa-view .visa-wrap .left-view section {
    width: 152px;
    display: inline-block;
  }
  .visa-view .form-modal {
    max-width: 97%;
    margin: auto;
    padding: 0;
  }
}
@media (max-width: 620px) {
  .form {
    padding: 5px 12px;
  }
  .form h2 {
    font-size: 22px;
  }
  .form p {
    font-size: 14px;
  }
  .form .flex-yxz .a03x {
    margin-right: 0;
    width: 100%;
  }
  .form .flex-yxz .a03x select, .form .flex-yxz .a03x input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .visa-view .visa-wrap .left-view {
    padding: 0px;
  }
  .visa-view .visa-wrap .left-view section {
    width: 124px;
    padding: 7px;
  }
  .visa-view .visa-wrap .left-view section span.createdAt {
    font-size: 12px;
  }
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "barlow_cond", "consolas", "system-ui";
  background: #1f1f25;
  color: white;
}

.page-size {
  max-width: 1280px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
a,
input,
select,
textarea {
  transition: all 400ms ease-in-out;
  outline: unset;
  font-family: inherit;
}

* {
  transition: background 300ms linear;
}
* ::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: var(--bg-color);
}
* ::-webkit-scrollbar-track {
  height: 6px;
}
* ::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #4b3fff;
}

#main-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wire {
  width: 100%;
  height: 1px;
  background: var(--wire-color);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: 100%;
  width: 100%;
}

footer {
  grid-area: footer;
  z-index: 1;
}

.fade-out {
  animation: fadeOut 400ms ease-in 1 forwards;
  opacity: 1;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 400ms ease-in 1 forwards;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 200ms ease-in 1 forwards;
  transform: translateY(30px);
}
@keyframes slideIn {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about-view {
  margin: 150px auto 100px auto;
  background: #14121e;
  padding: 20px;
  max-width: 500px;
}
.about-view h2 {
  font-size: 32px;
}
.about-view p {
  font-size: 18px;
}
.about-view .icon {
  text-align: right;
  margin: 10px 0;
}
.about-view .icon a {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.about-view .icon img {
  width: 50px;
}

button,
a,
input[type=radio],
select,
input[type=file] {
  cursor: pointer;
}

footer {
  text-align: center;
  background: #14121e;
  padding: 20px 0;
  width: 100%;
}

.lower-message {
  font-size: 14px !important;
  margin: 2px 0 !important;
}
.lower-message a {
  display: inline !important;
  margin: 0;
  color: orangered;
}

.message {
  font-size: 14px;
  display: block;
  width: max-content;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 500;
  word-spacing: 1px;
  margin: 7px 0;
  background: rgb(168, 255, 168);
  color: black;
}
.message.alert {
  background: #ffd146;
}
.message.danger {
  background: #ff7373;
}

.logout-view {
  margin-top: 150px;
  width: 480px;
  background-color: #14121e;
  border-radius: 12px;
  padding-bottom: 25px;
}

#top-view {
  position: relative;
}
#top-view .buttons {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}
#top-view .buttons .slide-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  background: rgba(255, 255, 255, 0.738);
  border-radius: 3px;
  border: none;
}
#top-view .buttons .slide-button:hover {
  background: white;
}
#top-view .buttons .slide-button svg {
  width: 20px;
  color: black;
}
#top-view .buttons .slide-button.next-slide {
  right: 0;
  margin-right: 10px;
}
#top-view .buttons .slide-button.prev-slide {
  margin-left: 10px;
  left: 0;
}
#top-view .top-view-wrapper {
  margin: auto;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
#top-view .top-view-wrapper .top-view-slide {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
}
#top-view .top-view-wrapper .top-view-slide:nth-child(1) {
  display: block;
}
#top-view .top-view-wrapper .top-view-slide.fade-in img {
  animation: zoom 4s linear forwards 1;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#top-view .top-view-wrapper .image {
  width: 100%;
  height: 100%;
}
#top-view .top-view-wrapper .image .top-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#top-view .top-view-wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top-view .top-view-wrapper .top-view-text {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
}
#top-view .top-view-wrapper .top-view-text h1 {
  font-family: "berlin", "consolas", "system-ui";
  font-size: 96px;
  color: white;
  margin-top: 212px;
  margin-left: 108px;
}
#top-view .top-view-wrapper p {
  font-family: "barlow_cond", "consolas", "system-ui";
  margin-top: 20px;
  margin-left: 108px;
  width: 703px;
  font-size: 20px;
}
#top-view .top-view-wrapper a {
  margin-left: 108px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 992px) {
  #top-view .top-view-wrapper .top-view-text h1 {
    margin-top: 158px;
    font-size: 64px;
  }
  #top-view .top-view-wrapper .top-view-text h1, #top-view .top-view-wrapper .top-view-text p, #top-view .top-view-wrapper .top-view-text a.btn {
    margin-left: 78px;
  }
  #top-view .top-view-wrapper .top-view-text p {
    width: 520px;
  }
  #top-view .buttons .slide-button {
    width: 25px;
    height: 60px;
  }
  #top-view .buttons .slide-button.next-slide {
    margin-right: 0;
  }
  #top-view .buttons .slide-button.prev-slide {
    margin-left: 0;
  }
  #top-view .buttons .slide-button svg {
    width: 18px;
  }
}
@media (max-width: 768px) {
  #top-view .top-view-wrapper .top-view-text h1 {
    font-size: 50px;
  }
  #top-view .top-view-wrapper .top-view-text h1, #top-view .top-view-wrapper .top-view-text p, #top-view .top-view-wrapper .top-view-text a.btn {
    margin-left: 50px;
  }
  #top-view .top-view-wrapper .top-view-text p {
    width: 520px;
  }
}
@media (max-width: 620px) {
  #top-view .top-view-wrapper .top-view-text {
    text-align: center;
  }
  #top-view .top-view-wrapper .top-view-text h1 {
    margin-top: 134px;
    width: 92%;
  }
  #top-view .top-view-wrapper .top-view-text h1, #top-view .top-view-wrapper .top-view-text p, #top-view .top-view-wrapper .top-view-text a.btn {
    margin-left: auto;
    margin-right: auto;
  }
  #top-view .top-view-wrapper .top-view-text p {
    width: 88%;
    font-size: 16px;
  }
  #top-view .top-view-wrapper .top-view-text a.btn {
    font-size: 14px;
    padding: 10px 36px !important;
  }
  #top-view .top-view-wrapper {
    height: 475px;
  }
}
@media (max-width: 480px) {
  #top-view .top-view-wrapper .top-view-text h1 {
    font-size: 50px !important;
    width: 94%;
  }
}
@media (max-width: 420px) {
  #top-view .top-view-wrapper .top-view-text {
    text-align: center;
  }
  #top-view .top-view-wrapper .top-view-text h1 {
    margin-top: 100px;
    font-size: 28px;
  }
  #top-view .top-view-wrapper .top-view-text p {
    width: 74%;
    font-size: 14px;
  }
  #top-view .top-view-wrapper {
    height: 403px;
  }
}
header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
header.bg {
  border-bottom: 1px solid rgba(124, 124, 124, 0.1019607843);
  background: rgba(0, 0, 0, 0.389);
  backdrop-filter: blur(36px);
}
header.bg nav {
  transition: 300ms;
  height: 57px;
}
header.bg .logo img {
  width: 100px;
}
header.bg .drop-down {
  top: -14px;
}
header.bg .drop-down .drop-svg {
  width: 26px;
  height: 26px;
}
header.bg .header-unit {
  font-size: 14px !important;
  margin-left: 3px !important;
}
header.bg .header-weather img {
  width: 35px;
  height: 35px;
}
header.bg .header-weather .header-temp {
  font-size: 18px;
}
header .logo {
  margin-left: 0px;
}
header .logo img {
  width: 150px;
  transition: 300ms;
}
header nav {
  height: 86px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  transition: 300ms;
  position: relative;
}
header nav .header-weather {
  display: none;
  justify-content: center;
  align-items: center;
}
header nav .header-weather * {
  transition: 300ms;
}
header nav .header-weather img {
  width: 40px;
  height: 40px;
}
header nav .header-weather img.rotate {
  animation: rotate 10s linear forwards infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header nav .header-weather .header-temp {
  font-size: 22px;
  font-weight: 400;
}
header nav .header-weather .header-unit {
  font-size: 17px;
  margin-top: 0px;
  margin-left: 5px;
  display: block;
  font-weight: 400;
  position: relative;
}
header nav .last-li {
  margin-right: 0px;
}
header nav .last-li a {
  width: max-content;
}
header nav .last-li img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
header nav .header-icons {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  margin: 0 2px;
  padding: 8px 6px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
header nav ul a:hover, header nav ul a.active {
  color: #ff871e;
}
header nav ul svg {
  width: 38px;
  color: white;
}

.drop-down {
  padding: 0;
  position: absolute;
  right: 38px;
  top: -5px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  display: none;
  transition: 300ms;
}
.drop-down .drop----list {
  display: none;
  background: black;
  border-radius: 6px;
}
.drop-down .drop----list:before {
  content: "";
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  margin-top: -5px;
  z-index: -1;
  display: block;
  position: absolute;
  border-radius: 1px;
  right: 13px;
  transform: rotate(45deg);
}
.drop-down .drop-down-button:hover .drop-svg {
  background: #000000;
  border-color: rgba(255, 255, 255, 0.6901960784);
  transition: 300ms;
}
.drop-down .drop-down-button:hover .drop----list {
  display: block;
}
.drop-down .drop-down-button {
  cursor: pointer;
}
.drop-down .drop-down-button .drop-svg {
  padding: 4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 9px;
  transition: 300ms;
  border: 2px solid transparent;
}
.drop-down .drop-down-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  padding: 20px;
}
.drop-down .drop-down-list.xkkkk {
  border-top: 1px solid rgba(255, 255, 255, 0.1294117647);
  margin-top: 8px;
  padding: 5px 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.drop-down .drop-down-list.xkkkk li {
  width: max-content;
}
.drop-down .drop-down-list.xkkkk li a {
  padding: 4px 12px !important;
}
.drop-down .drop-down-list li {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.drop-down .drop-down-list li:hover {
  background: #201f31;
}
.drop-down .drop-down-list li.last-li {
  margin-right: 0 !important;
}
.drop-down .drop-down-list li a {
  display: block;
  padding: 10px 20px !important;
  margin: 0;
}

@media (max-width: 992px) {
  header nav {
    padding: 0 9px;
  }
  header nav .ytill {
    display: none;
  }
  header nav .drop-down {
    display: block;
  }
}
@media (max-width: 620px) {
  header nav {
    padding: 0;
  }
  header nav .logo {
    margin-left: 0;
  }
  header nav .logo img {
    width: 115px;
  }
  header nav .drop-down {
    right: 14px;
  }
}
@media (max-width: 480px) {
  header nav ul.ck {
    padding: 0 13px;
  }
  header nav .drop-down .drop-down-list {
    width: 260px;
  }
  header nav .logo img {
    width: 80px;
  }
  header nav .drop----list {
    margin-top: 3px;
  }
  header nav .drop----list:before {
    margin-top: -3px;
    right: 21px;
    width: 20px;
    height: 20px;
  }
  header.bg .logo img {
    width: 60px;
  }
  header.bg nav {
    height: 44px;
  }
  header.bg nav .drop-down .drop-svg {
    margin: 3px;
    width: 20px;
    height: 20px;
  }
  header.bg nav .drop-down .drop----list {
    margin-top: 10px;
    margin-right: -7px;
    right: 4px;
  }
  header.bg nav .drop-down .drop----list:before {
    right: 3px;
  }
}
@media (max-width: 360px) {
  header nav .drop-down .drop-down-list {
    width: 220px;
  }
}
.sup-x {
  background: #14121e;
  padding: 20px 0;
}

.yell {
  margin-top: 7px;
  display: flex;
}
.yell * {
  transition: 100ms;
}
.yell a {
  color: white;
  text-decoration: none;
  margin-right: 7px;
}
.yell a:hover svg {
  color: dodgerblue;
}
.yell button {
  background: none;
  padding: -1;
  margin: -1;
  border: none;
}
.yell button:hover svg {
  color: orangered;
}
.yell svg {
  color: white;
  width: 19px;
}

.hotel-res {
  display: flex;
  margin-top: 30px;
}
.hotel-res .left {
  width: 70%;
}
.hotel-res .left .past-forms {
  display: flex;
  flex-wrap: wrap;
}
.hotel-res .left .past-forms section {
  width: 160px;
  background-color: black;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.hotel-res .left .past-forms section div {
  width: 100%;
}
.hotel-res .left .past-forms section div span {
  display: block;
  text-align: center;
  font-size: 13px;
}
.hotel-res .left .past-forms section div span.name {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: -25px;
  background: rgba(0, 0, 0, 0.4);
}
.hotel-res .left .past-forms section img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
.hotel-res .left .cb {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 400;
}
.hotel-res .left form h2 {
  font-size: 48px !important;
}
.hotel-res .left form h3 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
.hotel-res .right {
  width: 40%;
  margin: 0 10px;
}
.hotel-res .right section {
  background: black;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}
.hotel-res .right section .text {
  padding-bottom: 10px;
}
.hotel-res .right section .text h1 {
  font-size: 26px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
}
.hotel-res .right section .text span {
  display: block;
  text-align: center;
}
.hotel-res .right section .text p {
  text-align: center;
  padding: 10px;
}
.hotel-res .right section .button {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotel-res .right section .button button {
  background: rgba(255, 255, 255, 0.8274509804);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.hotel-res .right section .button button:hover {
  background: white;
}
.hotel-res .right section .button button svg {
  color: black;
  width: 25px;
}
.hotel-res .right section .res-slide {
  position: relative;
  height: 200px;
  width: 100%;
}
.hotel-res .right section .res-slide img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
.hotel-res .right section .res-slide img.active {
  opacity: 0;
  animation: imgFadeIn 400ms ease-in-out forwards 1;
}
@keyframes imgFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link-view {
  position: relative;
  z-index: 1;
  margin: 80px 5px 10px 5px;
}
.link-view h1 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.link-view .link-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.link-view .link-wrap a {
  text-decoration: none;
  margin: 10px 6px;
  background: black;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  padding-bottom: 10px;
}
.link-view .link-wrap a * {
  transition: 300ms;
}
.link-view .link-wrap a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: saturate(1.5);
}
.link-view .link-wrap a h3 {
  color: white;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}
.link-view .link-wrap a p {
  margin: 10px;
  color: white;
  text-align: center;
}
.link-view .link-wrap a:hover img {
  filter: saturate(0.5);
}
.link-view .link-wrap a:hover h3 {
  color: rgb(255, 98, 30);
}

@media (max-width: 992px) {
  .hotel-res {
    flex-direction: column;
  }
  .hotel-res .left {
    width: 100%;
  }
  .hotel-res .right {
    width: 94%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .hotel-res .right section {
    width: 32.3333%;
    margin: 10px 3px;
  }
  .hotel-res .right section .text h1 {
    font-size: 22px;
  }
  .hotel-res .right section span, .hotel-res .right section p {
    font-size: 13px;
  }
  .link-view .link-wrap a {
    width: 32.33333%;
    margin: 10px 3px;
  }
}
@media (max-width: 768px) {
  .hotel-res .right section {
    width: 48%;
  }
  .link-view .link-wrap a {
    width: 48%;
  }
}
@media (max-width: 620px) {
  .hotel-res .right section {
    width: 72%;
  }
  .link-view .link-wrap a {
    width: 72%;
  }
}
@media (max-width: 480px) {
  .hotel-res .right section {
    width: 94%;
  }
  .link-view .link-wrap a {
    width: 94%;
  }
}
.weather-view .weather {
  top: 130px;
  left: 0;
  right: 0;
  margin-bottom: 161px;
}
.weather-view .top-view {
  height: 100%;
  width: 100%;
  position: fixed !important;
  top: 0;
  border: 0;
  bottom: 0;
  margin: auto;
}
.weather-view .top-view .top-view-wrapper {
  height: 100% !important;
}

.weather {
  margin: auto;
  margin-bottom: 92px;
  position: relative;
  z-index: 1;
}
.weather .inner-weather {
  margin: auto;
  background: rgba(0, 0, 0, 0.3411764706);
  width: 400px;
  padding: 44px 20px;
  border-radius: 8px;
  backdrop-filter: blur(38px);
}
.weather .inner-weather .xkk {
  font-size: 36px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.weather .inner-weather .xqew {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.weather .inner-weather .xqew .cond {
  display: block;
  font-size: 20px;
}
.weather .inner-weather .weather-top-view h3 {
  font-size: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.weather .inner-weather .weather-top-view .temp {
  width: max-content;
  margin: auto;
  position: relative;
}
.weather .inner-weather .weather-top-view .temp span {
  font-size: 37px;
  position: absolute;
  top: -16px;
  right: -11px;
}
.weather .inner-weather .weather-top-view .text img {
  width: 100px;
  margin: auto;
  margin-top: 10px;
  display: block;
}
.weather .inner-weather #days {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.weather .inner-weather #days section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 1px;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.weather .inner-weather #days section:hover {
  background: rgba(255, 255, 255, 0.0901960784);
}
.weather .inner-weather #days section img {
  width: 34px;
}
.weather .inner-weather #days section span {
  font-size: 16px;
  margin: 3px 0;
  display: flex;
  text-align: center;
}
.weather .inner-weather #days section .scx {
  font-size: 11px;
  margin-top: 10px;
  margin-left: 3px;
  text-align: center;
}
.weather .inner-weather #hourly {
  display: flex;
  overflow-x: scroll;
  margin: 20px 0;
}
.weather .inner-weather #hourly section {
  margin: 3px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.0901960784);
  padding: 5px 10px;
  border-radius: 4px;
  width: 90px;
  cursor: pointer;
}
.weather .inner-weather #hourly section span {
  font-size: 14px;
  margin: 2px 0;
  width: max-content;
}
.weather .inner-weather #hourly section:hover {
  background: #14121e;
}
.weather .inner-weather #hourly img {
  width: 30px;
  margin: 5px 0;
}

@media (max-width: 620px) {
  .weather .inner-weather {
    width: 320px;
    padding: 34px 10px;
  }
  .weather .inner-weather #days {
    overflow-x: scroll;
  }
}
@media (max-width: 620px) {
  .weather .inner-weather {
    width: 303px;
    padding: 34px 4px;
  }
}
.admin-view {
  display: flex;
  margin: 130px auto 30px auto;
  margin-top: 130px;
  width: 100%;
  justify-content: center;
}
.admin-view .admin-left, .admin-view .admin-right {
  border-radius: 12px;
  border: 1px solid rgba(78, 78, 78, 0.377);
}
.admin-view .admin-left {
  width: 15%;
  min-width: 230px;
  margin-right: 10px;
  padding: 10px;
  background: #14121e;
}
.admin-view .admin-left .left-user {
  border-bottom: 1px solid rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.admin-view .admin-left .left-user svg {
  width: 80px;
}
.admin-view .admin-left .left-user span {
  font-size: 14px;
}
.admin-view .admin-left .links-x ul {
  padding: 0;
}
.admin-view .admin-left .links-x ul li {
  list-style: none;
  margin-bottom: 3px;
}
.admin-view .admin-left .links-x ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.admin-view .admin-left .links-x ul li a:hover, .admin-view .admin-left .links-x ul li a.active {
  color: #00ff9b;
}
.admin-view .admin-left .links-x ul li a svg {
  width: 20px;
  background: rgb(46, 46, 46);
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 10px;
}
.admin-view .admin-right {
  max-width: 78%;
  min-width: 500px;
  padding: 10px;
  background: #14121e;
}
.admin-view .admin-right .wrapper {
  padding: 10px 0 10px 0;
}
.admin-view .admin-right .wrapper h2, .admin-view .admin-right .wrapper p {
  padding: 0;
  margin: 0;
  padding: 0 10px;
}
.admin-view .admin-right .most-recent h3 {
  margin-top: 20px;
}
.admin-view .admin-right .dash-counts {
  display: flex;
  width: 480px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.admin-view .admin-right .dash-counts section {
  width: 184px;
  background: #434347;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
.admin-view .admin-right .dash-counts section span:nth-child(1) {
  font-size: 28px;
}
.admin-view .admin-right .dash-counts section span:nth-child(2) {
  font-size: 60px;
  color: #00ff9b;
}

.admin-image-x8 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: max-content;
}
.admin-image-x8 img {
  border-radius: 0;
  margin: 5px;
  border: 1px solid #3b3b3b;
  padding: 5px;
  border-radius: 6px;
}

.admin-table-view {
  border: 1px solid rgb(46, 46, 46);
  margin-top: 20px;
  width: 100%;
}
.admin-table-view thead tr {
  height: 70px;
}
.admin-table-view th, .admin-table-view tr, .admin-table-view td {
  padding: 5px 15px;
  text-align: left;
}
.admin-table-view tbody tr:nth-child(odd) {
  background: #181525;
}
.admin-table-view td {
  border-top: 1px solid rgb(46, 46, 46);
}
.admin-table-view td.image {
  text-align: center;
}
.admin-table-view td.image img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  object-fit: cover;
}
.admin-table-view td.image svg {
  width: 52px;
}
.admin-table-view td button, .admin-table-view td a {
  padding: 4px 18px !important;
}
.admin-table-view td button svg, .admin-table-view td a svg {
  width: 23px;
}
.admin-table-view td a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-table-view td.button-x3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-table-view td.button-x3 * {
  margin: 5px 3px;
}

.tours-view {
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #14121e;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 10px;
}
.tours-view .xoa table {
  width: 100%;
}
.tours-view .xoa table td {
  border-bottom: 1px solid rgb(44, 44, 44);
  padding: 10px;
}
.tours-view .form {
  padding: 13px 10px;
}
.tours-view .form .xo {
  margin-top: 20px;
}
.tours-view .form .xoa {
  margin-top: 20px;
  width: 200px;
}
.tours-view .form .xoa div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 8px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1490196078);
  margin-bottom: 20px;
}
.tours-view svg {
  width: 30px;
  margin-right: 12px;
}
.tours-view h2 {
  font-size: 38px;
  display: block;
  text-transform: uppercase;
}
.tours-view p {
  display: block;
  font-size: 24px;
  text-transform: capitalize;
}
.tours-view h2, .tours-view p {
  display: flex;
  align-items: center;
}
.tours-view .date-xk3 {
  margin-top: 8px;
}
.tours-view .date-xk3 h3 {
  margin-top: 15px;
}
.tours-view .date-xk3 .date-xk {
  font-size: 32px;
  text-transform: uppercase;
}
.tours-view .datepicker-input {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 28px;
  text-transform: uppercase;
  padding: 0px 15px;
  border-radius: 5px;
  border: none;
}
.tours-view .tour-left-view, .tours-view .tour-right-view {
  padding: 20px;
}
.tours-view .tour-left-view {
  width: 58%;
}
.tours-view .tour-left-view h1 {
  font-size: 48px;
}
.tours-view .tour-left-view .desc {
  font-size: 22px;
  margin-top: 30px;
}
.tours-view .tour-left-view .dur {
  font-size: 28px;
}
.tours-view .tour-left-view .list-viewx93 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.tours-view .tour-left-view .list-viewx93 section {
  margin: 0 40px;
  max-width: 210px;
}
.tours-view .tour-left-view .list-viewx93 section span {
  font-size: 22px;
}
.tours-view .tour-left-view .list-viewx93 section ul {
  margin: 0;
  margin-top: 8px;
}
.tours-view .tour-left-view .list-viewx93 section ul li {
  text-transform: capitalize;
}
.tours-view .tour-right-view {
  width: 40%;
  border-left: 1px solid rgb(44, 44, 44);
}

@media (max-width: 992px) {
  .tours-view {
    flex-direction: column;
    align-items: center;
  }
  .tours-view .tour-left-view, .tours-view .tour-right-view {
    width: 88%;
  }
  .tours-view .tour-right-view {
    border-left: none;
    border-top: 1px solid rgb(44, 44, 44);
  }
  .tours-view .tour-left-view .list-viewx93 section {
    margin: 10px 13px;
  }
}
@media (max-width: 620px) {
  .tours-view .datepicker-input {
    width: 87%;
  }
  #top-view .top-view-wrapper .top-view-text a.btn {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
